spring:
  application:
    name: event-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/event
    username: postgres
    password: koliko11
    
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Server Configuration
server:
  port: 8080
